<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="description" content="woaiso" />
	<title>我爱搜</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script src="https://cdn.staticfile.org/three.js/r83/three.js"></script>
</head>

<body>
	<div id="canvas"></div>
	<script src="/static/js/main.js"></script>
</body>

</html>
