<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="description" content="woaiso system" />
	<title>wst</title>
	<%if(htmlWebpackPlugin.options.environment === 'prod'){%>
		<script type="text/javascript" src="https://cdn.staticfile.org/react/15.4.1/react.min.js"></script>
		<script type="text/javascript" src="https://cdn.staticfile.org/react/15.4.1/react-dom.min.js"></script>
	<%}%>
</head>

<body>
	<h1>WST hello world</h1>
	<ul>
		<li>typescript</li>
		<li>webpack</li>
		<li>react</li>
	</ul>
	<div id="root">
		<!--React Element-->
	</div>
</body>

</html>