
html, body {
  background: #000;
  color: rgba(127,255,255,0.75);
	overflow: hidden;
	margin:0;
	padding:0;
}
html,body{
	margin:0;
	padding: 0;
}
.container{
  display: flex;
  box-sizing: content-box;
}

:fullscreen a {
    display: flex
}
