html, body {
	margin:0;
	padding:0;
}
html,body{
	margin:0;
	padding: 0;
}
.container{
  display: flex;
  box-sizing: content-box;
}

:fullscreen a {
    display: flex
}


#header{
    background: rgba(0, 0, 0, 0.8);
		color:#FFF;
    height: 48px;
		line-height: 48px;
    width: 100%;
}

.mainBoard .logo{
	width: 28px;
	height: 48px;
	display: inline-block;
	background: url(images/logo.svg) no-repeat center center;
	background-size: 100%;
}

.logo-text{
	position: absolute;
	width:1px;
	height:1px;
	overflow: hidden;
}

.global-nav{
	max-width: 980px;
	margin: 0 auto;
}

.slide{
	height:480px;
}
.slide:nth-child(odd){
	background: white;
}

.slide:nth-child(even){
	background: black;
}
